streamlit>=1.38.0
pygad>=3.3.1          # NSGA-II desteği için 3.2+
numpy>=1.26.0
pandas>=2.2.0
matplotlib>=3.9.0
plotly>=5.24.0
scipy>=1.14.0         # ODE çözümü için
seaborn>=0.13.0       # heatmap için
altair>=5.4.0
